#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$PATH"
bindir="$HOME/.local/bin/"
appimagedir="$HOME/AppImages/"

mkdir -p "$bindir"
mkdir -p "$appimagedir"

{{ if eq .osid "linux-arch" }}

cat << "EOF"

  _____                 _                                  _       ______            _                                      _
 |  __ \               | |                                | |     |  ____|          (_)                                    | |
 | |  | | _____   _____| | ___  _ __  _ __ ___   ___ _ __ | |_    | |__   _ ____   ___ _ __ ___  _ __  _ __ ___   ___ _ __ | |_
 | |  | |/ _ \ \ / / _ \ |/ _ \| '_ \| '_ ` _ \ / _ \ '_ \| __|   |  __| | '_ \ \ / / | '__/ _ \| '_ \| '_ ` _ \ / _ \ '_ \| __|
 | |__| |  __/\ V /  __/ | (_) | |_) | | | | | |  __/ | | | |_    | |____| | | \ V /| | | | (_) | | | | | | | | |  __/ | | | |_
 |_____/ \___| \_/ \___|_|\___/| .__/|_| |_| |_|\___|_| |_|\__|   |______|_| |_|\_/ |_|_|  \___/|_| |_|_| |_| |_|\___|_| |_|\__|
                               | |
                               |_|

EOF

cat << "EOF"

                    _         _____           _
     /\            | |       |  __ \         | |
    /  \   _ __ ___| |__     | |__) |_ _  ___| | ____ _  __ _  ___  ___
   / /\ \ | '__/ __| '_ \    |  ___/ _` |/ __| |/ / _` |/ _` |/ _ \/ __|
  / ____ \| | | (__| | | |   | |  | (_| | (__|   < (_| | (_| |  __/\__ \
 /_/    \_\_|  \___|_| |_|   |_|   \__,_|\___|_|\_\__,_|\__, |\___||___/
                                                         __/ |
                                                        |___/

EOF

## Arch
echo "Installing Arch packages"

# Load base packages
{{ $base := include ".chezmoidata/packages/linux/arch/development.yaml" | fromYaml }}

# Add base packages
{{ $core_packages := $base.core }}
{{ $extra_packages := $base.extra }}
{{ $multilib_packages := $base.multilib }}
{{ $aur_packages := $base.aur }}


# Install packages
sudo pacman -Sy --needed {{ range $core_packages }} {{.}}{{end}} {{ range $extra_packages }} {{.}}{{end}} {{ range $multilib_packages }} {{.}}{{end}}

if type -P yay >/dev/null 2>&1; then
  cat << "EOF"

          _    _ _____      _____           _
     /\  | |  | |  __ \    |  __ \         | |
    /  \ | |  | | |__) |   | |__) |_ _  ___| | ____ _  __ _  ___  ___
   / /\ \| |  | |  _  /    |  ___/ _` |/ __| |/ / _` |/ _` |/ _ \/ __|
  / ____ \ |__| | | \ \    | |  | (_| | (__|   < (_| | (_| |  __/\__ \
 /_/    \_\____/|_|  \_\   |_|   \__,_|\___|_|\_\__,_|\__, |\___||___/
                                                       __/ |
                                                      |___/
EOF
  yay -Sy --needed {{ range $aur_packages }} {{.}}{{ end }}
fi

{{ end }}
