#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$PATH"
bindir="$HOME/.local/bin/"
appimagedir="$HOME/AppImages/"

mkdir -p "$bindir"
mkdir -p "$appimagedir"

{{ $arch := include ".chezmoidata/packages/linux/arch.yaml" | fromYaml }}
# Native packages

{{ if eq .osid "linux-arch" }}

cat << "EOF"

                    _         _____           _
     /\            | |       |  __ \         | |
    /  \   _ __ ___| |__     | |__) |_ _  ___| | ____ _  __ _  ___  ___
   / /\ \ | '__/ __| '_ \    |  ___/ _` |/ __| |/ / _` |/ _` |/ _ \/ __|
  / ____ \| | | (__| | | |   | |  | (_| | (__|   < (_| | (_| |  __/\__ \
 /_/    \_\_|  \___|_| |_|   |_|   \__,_|\___|_|\_\__,_|\__, |\___||___/
                                                         __/ |
                                                        |___/

EOF

## Arch
echo "Installing Arch packages"

sudo pacman -Syu --needed {{ range $arch.core }} {{.}}{{end}} {{ range $arch.extra }} {{.}}{{end}} {{ range $arch.multilib }} {{.}}{{end}}

if type -P yay >/dev/null 2>&1; then
  cat << "EOF"

          _    _ _____      _____           _
     /\  | |  | |  __ \    |  __ \         | |
    /  \ | |  | | |__) |   | |__) |_ _  ___| | ____ _  __ _  ___  ___
   / /\ \| |  | |  _  /    |  ___/ _` |/ __| |/ / _` |/ _` |/ _ \/ __|
  / ____ \ |__| | | \ \    | |  | (_| | (__|   < (_| | (_| |  __/\__ \
 /_/    \_\____/|_|  \_\   |_|   \__,_|\___|_|\_\__,_|\__, |\___||___/
                                                       __/ |
                                                      |___/
EOF
  yay -Syu --needed {{ range $arch.aur }} {{.}}{{ end }}
fi

{{ end }}