#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$PATH"
bindir="$HOME/.local/bin/"
appimagedir="$HOME/AppImages/"

mkdir -p "$bindir"
mkdir -p "$appimagedir"

{{ if and (eq .osid "linux-arch") (has "hyprland" .window_manager) }}

cat << "EOF"

  _    _                  _                 _    _____           _
 | |  | |                | |               | |  |  __ \         | |
 | |__| |_   _ _ __  _ __| | __ _ _ __   __| |  | |__) |_ _  ___| | ____ _  __ _  ___  ___
 |  __  | | | | '_ \| '__| |/ _` | '_ \ / _` |  |  ___/ _` |/ __| |/ / _` |/ _` |/ _ \/ __|
 | |  | | |_| | |_) | |  | | (_| | | | | (_| |  | |  | (_| | (__|   < (_| | (_| |  __/\__ \
 |_|  |_|\__, | .__/|_|  |_|\__,_|_| |_|\__,_|  |_|   \__,_|\___|_|\_\__,_|\__, |\___||___/
          __/ | |                                                           __/ |
         |___/|_|                                                          |___/

EOF

## Arch
echo "Installing Arch packages"

# Load base packages
{{ $base := include ".chezmoidata/packages/linux/arch/hyprland.yaml" | fromYaml }}

# Add base packages
{{ $core_packages := $base.core }}
{{ $extra_packages := $base.extra }}
{{ $multilib_packages := $base.multilib }}
{{ $aur_packages := $base.aur }}


# Install packages
sudo pacman -Syu --needed {{ range $core_packages }} {{.}}{{end}} {{ range $extra_packages }} {{.}}{{end}} {{ range $multilib_packages }} {{.}}{{end}}

if type -P yay >/dev/null 2>&1; then
  cat << "EOF"

  _    _                  _                 _            _    _ _____     _____           _
 | |  | |                | |               | |      /\  | |  | |  __ \   |  __ \         | |
 | |__| |_   _ _ __  _ __| | __ _ _ __   __| |     /  \ | |  | | |__) |  | |__) |_ _  ___| | ____ _  __ _  ___  ___
 |  __  | | | | '_ \| '__| |/ _` | '_ \ / _` |    / /\ \| |  | |  _  /   |  ___/ _` |/ __| |/ / _` |/ _` |/ _ \/ __|
 | |  | | |_| | |_) | |  | | (_| | | | | (_| |   / ____ \ |__| | | \ \   | |  | (_| | (__|   < (_| | (_| |  __/\__ \
 |_|  |_|\__, | .__/|_|  |_|\__,_|_| |_|\__,_|  /_/    \_\____/|_|  \_\  |_|   \__,_|\___|_|\_\__,_|\__, |\___||___/
          __/ | |                                                                                    __/ |
         |___/|_|                                                                                   |___/

EOF
  yay -Syu --needed {{ range $aur_packages }} {{.}}{{ end }}
fi

{{ end }}

