[config]

[templates.rofi]
input_path = '~/.config/matugen/templates/rofi.rasi'
output_path = '~/.config/rofi/themes/colors.rasi'

{{- if has "hyprland" .window_manager }}

[config.wallpaper]
command = "swww"
arguments = ["img", "--transition-type", "center", "--transition-fps", "60"]
set = true

[templates.hyprland]
input_path = '~/.config/matugen/templates/hyprland.conf'
output_path = '~/.config/hypr/colors/matugen.conf'
post_hook = 'hyprctl reload'

[templates.waybar]
input_path = '~/.config/matugen/templates/waybar.css'
output_path = '~/.config/waybar/colors/matugen.css'
post_hook = 'pkill -SIGUSR2 waybar'

[templates.swaync]
input_path = '~/.config/matugen/templates/waybar.css'
output_path = '~/.config/swaync/colors/matugen.css'
post_hook = 'swaync-client -rs -R'

[templates.swayosd]
input_path = '~/.config/matugen/templates/waybar.css'
output_path = '~/.config/swayosd/colors/matugen.css'

[templates.copyq]
input_path = '~/.config/matugen/templates/copyq.ini'
output_path = '~/.config/copyq/themes/matugen.ini'

{{- end }}

{{ if has "i3" .window_manager }}
[templates.i3]
input_path = '~/.config/matugen/templates/i3.conf'
output_path = '~/.config/i3/colors.conf'
{{- end }}

{{ if has "qtile" .window_manager }}
[templates.qtile]
input_path = '~/.config/matugen/templates/qtile.py'
output_path = '~/.config/qtile/matugen.py'
{{- end }}

[templates.alacritty]
input_path = '~/.config/matugen/templates/alacritty.toml'
output_path = '~/.config/alacritty/colors/matugen.toml'

[templates.zellij]
input_path = '~/.config/matugen/templates/zellij-colors.kdl'
output_path = '~/.config/zellij/themes/matugen.kdl'
