{{ ansible_managed | comment }}

[data]
    email = "{{ email }}"
    profile = "{{ profile }}"
    osid = "{{ osid }}"
    gpu = "{{ gpu }}"
    window_manager = {{ (profiles | default([])) | intersect(['i3', 'hyprland', 'qtile']) | to_json }}
    plasma_window_manager = "{{ plasma_window_manager | default('') }}"
