@import 'colors/matugen.css';

* {
border: none;
border-radius: 0;
font-family: "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
font-weight: 600;
font-size: 14px;
min-height: 0;
border-radius: 50px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#pulseaudio,
#custom-vpn,
#network,
#memory,
#cpu {
margin-right: 10px;
padding: 0 12px;
background-color: @surface;
color: @primary;
}

#submap {
background-color: @error;
color: @surface;
padding: 0 6px;
margin: 0 3px;
border-radius: 10px;
font-weight: bold;
}

#workspaces {
padding: 8px 5px;
border-radius: 16px;
background-color: @surface;
color: @primary;
font-size: 14px;
}

#workspaces button {
padding: 0px 6px;
margin: 0px 3px;
border-radius: 5px;
min-width: 40px;
transition: all 0.3s ease-in-out;
background-color: @on_secondary;
}

/* for visible but not focused workspaces */
#workspaces button.visible {
background-color: @secondary;  /* or choose another color from your theme */
color: @surface;
min-width: 50px;
transition: all 0.3s ease-in-out;
border-radius: 5px;
}

#workspaces button.active {
background-color: @primary;
color: @surface;
min-width: 50px;
transition: all 0.3s ease-in-out;
border-radius: 5px;
}

#workspaces button:hover {
background-color: @secondary;
color: @surface;
border-radius: 6px;
min-width: 50px;
background-size: 400% 400%;
}

#workspaces button.urgent {
background-color: @error;
color: @surface;
border-radius: 16px;
min-width: 50px;
background-size: 400% 400%;
transition: all 0.3s ease-in-out;
}
