[Daemon]
Autolock=false
LockGrace=60
LockOnResume=false
Timeout=0

[Greeter]
Theme=Sweet
WallpaperPlugin=org.kde.image

[Greeter][Wallpaper][org.kde.image][General]
Image={{ .chezmoi.homeDir }}/.config/.settings/desktop_wallpaper_2.jpg
PreviewImage={{ .chezmoi.homeDir }}/.config/.settings/desktop_wallpaper_2.jpg