<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xbel>
<xbel xmlns:bookmark="http://www.freedesktop.org/standards/desktop-bookmarks" xmlns:kdepriv="http://www.kde.org/kdepriv" xmlns:mime="http://www.freedesktop.org/standards/shared-mime-info">
 <info>
  <metadata owner="http://www.kde.org">
   <kde_places_version>4</kde_places_version>
   <GroupState-Places-IsHidden>false</GroupState-Places-IsHidden>
   <GroupState-Remote-IsHidden>false</GroupState-Remote-IsHidden>
   <GroupState-Devices-IsHidden>false</GroupState-Devices-IsHidden>
   <GroupState-RemovableDevices-IsHidden>false</GroupState-RemovableDevices-IsHidden>
   <GroupState-Tags-IsHidden>false</GroupState-Tags-IsHidden>
   <withRecentlyUsed>true</withRecentlyUsed>
   <GroupState-RecentlySaved-IsHidden>false</GroupState-RecentlySaved-IsHidden>
   <withBaloo>true</withBaloo>
   <GroupState-SearchFor-IsHidden>false</GroupState-SearchFor-IsHidden>
  </metadata>
 </info>
 <bookmark href="file://{{ .chezmoi.homeDir }}">
  <title>Home</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-home"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/0</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Desktop">
  <title>Desktop</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-desktop"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/1</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Sambare's Dropbox/Manas Sambare/Documents">
  <title>Documents</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-documents"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/2</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Downloads">
  <title>Downloads</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-downloads"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/3</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Music">
  <title>Music</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-music"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/6</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Sambare's Dropbox/Manas Sambare/Pictures">
  <title>Pictures</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-pictures"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/7</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Sambare's Dropbox/Manas Sambare/Videos">
  <title>Videos</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-videos"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/8</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="remote:/">
  <title>Network</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-network"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/4</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="recentlyused:/files">
  <title>Recent Files</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="document-open-recent"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/9</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="recentlyused:/locations">
  <title>Recent Locations</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-open-recent"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/10</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/sda1</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>2025-03-08-07-54-47-00</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme2n1p2</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>9c597a73-af18-4d57-ad3f-d34e44c36053</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme1n1p1</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>e9296cd4-8636-4b55-b3db-e4f0b67f063e</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme0n1p2</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>2b7f0e4d-1ff6-4581-8113-69b14eeb1c84</uuid>
   </metadata>
  </info>
 </separator>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Repositories">
  <title>Repositories</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="inode-directory"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746184577/0</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Sambare's%20Dropbox/Sambare's%20Team%20Folder/family_members/manas_sambare">
  <title>manas_sambare</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="inode-directory"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1758269786/0</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://{{ .chezmoi.homeDir }}/Sambare's%20Dropbox">
  <title>Sambare's Dropbox</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="inode-directory"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746449631/0</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="trash:/">
  <title>Trash</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-trash"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1746132372/5</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
</xbel>
