[defaults]
inventory = inventories/personal/hosts.yml
roles_path = roles
collections_path = collections
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
forks = 10
interpreter_python = auto_silent
display_skipped_hosts = False
display_ok_hosts = True
any_errors_fatal = False

[inventory]
enable_plugins = yaml, ini

[ssh_connection]
pipelining = True
