ui {
    pane_frames false
}

themes {
    matugen {
        text_unselected {
            base "{{ colors.on_surface.default.hex }}"
            background "{{ colors.surface.default.hex }}"
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        text_selected {
            base "{{ colors.on_surface.default.hex }}"
            background "{{ colors.surface_container.default.hex }}"
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        ribbon_selected {
            base "{{ colors.surface.default.hex }}"
            background "{{ colors.primary.default.hex }}"
            emphasis_0 "{{ colors.error.default.hex }}"
            emphasis_1 "{{ colors.secondary.default.hex }}"
            emphasis_2 "{{ colors.tertiary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        ribbon_unselected {
            base "{{ colors.on_surface.default.hex }}"
            background "{{ colors.surface_container_high.default.hex }}"
            emphasis_0 "{{ colors.error.default.hex }}"
            emphasis_1 "{{ colors.secondary.default.hex }}"
            emphasis_2 "{{ colors.tertiary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        table_title {
            base "{{ colors.primary.default.hex }}"
            background 0
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        table_cell_selected {
            base "{{ colors.on_surface.default.hex }}"
            background "{{ colors.surface_container_high.default.hex }}"
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        table_cell_unselected {
            base "{{ colors.on_surface.default.hex }}"
            background "{{ colors.surface.default.hex }}"
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        list_selected {
            base "{{ colors.on_surface.default.hex }}"
            background "{{ colors.surface_container_high.default.hex }}"
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        list_unselected {
            base "{{ colors.on_surface.default.hex }}"
            background "{{ colors.surface_container.default.hex }}"
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary.default.hex }}"
            emphasis_3 "{{ colors.primary_container.default.hex }}"
        }
        frame_selected {
            base "{{ colors.primary.default.hex }}"
            background 0
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 "{{ colors.primary_container.default.hex }}"
            emphasis_3 0
        }
        frame_highlight {
            base "{{ colors.on_surface.default.hex }}"
            background 0
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 "{{ colors.tertiary.default.hex }}"
            emphasis_2 0
            emphasis_3 0
        }
        exit_code_success {
            base "{{ colors.primary.default.hex }}"
            background 0
            emphasis_0 "{{ colors.tertiary.default.hex }}"
            emphasis_1 "{{ colors.surface.default.hex }}"
            emphasis_2 "{{ colors.primary_container.default.hex }}"
            emphasis_3 "{{ colors.secondary.default.hex }}"
        }
        exit_code_error {
            base "{{ colors.error.default.hex }}"
            background 0
            emphasis_0 "{{ colors.secondary.default.hex }}"
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 "{{ colors.primary_container.default.hex }}"
            player_2 "{{ colors.tertiary.default.hex }}"
            player_3 0
            player_4 "{{ colors.secondary.default.hex }}"
            player_5 "{{ colors.tertiary.default.hex }}"
            player_6 0
            player_7 "{{ colors.error.default.hex }}"
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
